ENDPOINT_URL=http://backend
ENDPOINT_PORT=8000
ENDPOINT_INFERENCIA=/inferir
ENDPOINT_TREINAMENTO=/treinar
ENDPOINT_INGESTAO=/ingest
SHOW_TEST_BUTTON=true

ENDPOINT_URL=http://data_ingestion
ENDPOINT_PORT=8000
ENDPOINT_INGESTAO=/data_ingestion